body{
	background-color: black;
}
a{
	font-size: 2em;
}
p{
	color: white;
}
.overlay{
	width: 400px;
	height: 400px;
	background-color: green;
	color: blue;
	transition: background-color 1s;

}
.overlay.color{
	width: 400px;
	height: 400px;
	color: black;
	background-color: orange;
}